# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Virtual Environment
.env
venv/
env/

# PyCharm-specific files
.idea/

# Other files
.DS_Store
Thumbs.db
.coverage
.tox/
.eggs/

# pytest and coverage reports
report.html
report.xml
coverage.xml
.coverage
htmlcov/
reports/
test-reports/

#d ocumenation
docs/build