# Include all production dependencies
-r requirements.in

# Development tools
pip-tools==7.5.0

# Pylint static code analyser
pylint==3.3.8

# Pylint plugin for django
pylint-django==2.6.1

# Pytest test framework
pytest==8.4.1

# Django plugin for pytest
pytest-django==4.11.1

# Pytest plugin for measuring coverage
pytest-cov==6.2.1

# Pytest plugin for generating HTML reports
pytest-html==4.1.1

# Mocker fixure for testing
pytest-mock==3.14.1

# Fixture replacement tool for testing
factory-boy==3.3.3

#Run coverage and linting reports on diffs
diff-cover==9.6.0

# Sphinx and extensions for documentation
sphinx>=8.0,<9.0
sphinx_rtd_theme >=3.0,<4.0
sphinx-autodoc-typehints >=3.0,<4.0
